@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}



nav {
  position: fixed;
  bottom: 30%;
  right: -8%;
  z-index: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  padding: 30px 20px;
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}

.content {
    width: 400px;
    height: 400px;
    border: 20px solid #ec1414;
    margin: 0px auto;
    border-radius: 50%;
    box-shadow: 1px 1px 88px #6c0505;
}
.content img {
    margin-left: -10%;
    border-bottom-right-radius: 300px;
}
.footer-name {
  color: white;
  margin-top: 6%;
  margin-left: 27%;
}
.name-box {
  text-align: right;
  color: #9b2424;
  line-height: 5px;
  padding: 20px;
}
span {
  color: #ec1414;
}
.social-media  {
    text-align: right;
}